<footer class="footer">
  <div class="footer__container">
    <div class="footer__body body-footer">
      <div class="body-footer__column">
        <a href="{{ section.settings.logo_link }}" class="body-footer__logo">
          <img src="{{ section.settings.logo | image_url: width: 200 }}" alt="Footer Logo">
        </a>
        <ul class="body-footer__contacts contacts-footer">
          <li class="contacts-footer__item">
            <a href="mailto:{{ section.settings.email }}" class="contacts-footer__link contacts-footer__link_mail">{{ section.settings.email }}</a>
          </li>
          <li class="contacts-footer__item">
            <a href="#" class="contacts-footer__link contacts-footer__link_location">{{ section.settings.location }}</a>
          </li>
        </ul>
      </div>
      <div class="body-footer__column body-footer__column_full">
        <nav class="body-footer__menu menu-footer">
          {%- for block in section.blocks -%}
            <div class="menu-footer__column">
              <div class="menu-footer__title">{{ block.settings.title }}</div>
              <ul class="menu-footer__list">
                {%- for link in block.settings.menu_links -%}
                  <li class="menu-footer__item">
                    <a href="{{ link.url }}" class="menu-footer__link">{{ link.title }}</a>
                  </li>
                {%- endfor -%}
              </ul>
            </div>
          {%- endfor -%}
        </nav>
      </div>
      <div class="body-footer__column">
        <div class="body-footer__social social-footer">
          <div class="social-footer__title">{{ section.settings.social_title }}</div>
          <div class="social-footer__items">
            {%- for social in section.settings.social_links -%}
              <a href="{{ social.url }}" class="social-footer__item">
                <img src="{{ social.icon | image_url: width: 30 }}" alt="">
              </a>
            {%- endfor -%}
          </div>
        </div>
      </div>
    </div>
    <div class="footer__copy">
      © {{ 'now' | date: "%Y" }} Copyright. {{ section.settings.copyright_text }}
    </div>
  </div>
</footer>

{% schema %}
{
  "name": "Footer Section",
  "tag": "footer",
  "settings": [
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Footer Logo"
    },
    {
      "type": "url",
      "id": "logo_link",
      "label": "Logo Link"
    },
    {
      "type": "text",
      "id": "email",
      "label": "Contact Email",
      "default": "Enquiry@Rhythm.com"
    },
    {
      "type": "text",
      "id": "location",
      "label": "Location",
      "default": "San Francisco"
    },
    {
      "type": "text",
      "id": "social_title",
      "label": "Social Media Title",
      "default": "Follow us"
    },
    {
      "type": "text",
      "id": "copyright_text",
      "label": "Copyright Text",
      "default": "Onyxer"
    }
  ],
  "blocks": [
    {
      "type": "menu_column",
      "name": "Menu Column",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Menu Title"
        },
        {
          "type": "link_list",
          "id": "menu",
          "label": "Select Menu"
        }
      ]
    },
    {
      "type": "social_link",
      "name": "Social Media Link",
      "settings": [
        {
          "type": "url",
          "id": "url",
          "label": "Social Media URL"
        },
        {
          "type": "image_picker",
          "id": "icon",
          "label": "Social Media Icon"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Footer Section",
      "blocks": [
        {
          "type": "menu_column"
        },
        {
          "type": "menu_column"
        },
        {
          "type": "social_link"
        },
        {
          "type": "social_link"
        },
        {
          "type": "social_link"
        }
      ]
    }
  ]
}

{% endschema %}
